img {
    width: auto;
    height: 10rem;
}

.button {
    display: flex;
    justify-content: center;
}

button {
    margin: 0px 20px 0px 20px;
   width: 16rem;
   height: 4rem;
}

h1 {
    text-align: center;
}

.center-flag {
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
}